*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.html  .body 
{
  display: flex;
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background-color: #2c772f !important;
}
.swiper-pagination-bullet-active {
  background-color: #105714b4 !important;
}
::placeholder
{
  font-family: 'poppins';
  font-size: 14px;
}
#signup-form::placeholder
{
  
  font-family: 'poppins';
  font-size: 14px;
  font-weight: 200;
  color: whitesmoke;

}
#nav_search::placeholder
{
  font-size: 1.5rem;
  color: rgb(119, 119, 119);
  font-family: 'poppins';
}

*:focus
{
  outline: none;
}
*::-moz-selection { /* Code for Firefox */
  color: whitesmoke;
  background: rgb(17, 88, 17);
}

*::selection {
  color: whitesmoke;
  background: rgb(17, 88, 17);
}


.inputfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}



#about_img3:hover + #about_img2
{
  width: 80000px;
}
#nav_product_area::-webkit-scrollbar
{
  width: 0px;
  background: transparent
}

#adminSideMenu::-webkit-scrollbar {
  width: 0px;
  background: transparent;
 }


@media only screen and (min-width:640px)
{
  ::placeholder
{
  font-family: 'poppins';
  font-size: 15px;
}

  #signup-form::placeholder
{
  
  font-family: 'poppins';
  font-size: 15px;
  padding: 0px 1px;
  color: whitesmoke;

}
#nav_search::placeholder
{
  font-size: 2rem;
  color: rgb(119, 119, 119);
  font-family: 'poppins';
}



}
@media only screen and (min-width:1024px)
{
  ::placeholder
  {
    
    font-size: 14px;
    font-weight: 300;
  }

  #signup-form::placeholder
{
  
 
  font-size: 16px;
  

}


}
@media only screen and (min-width:1500px)
{
  ::placeholder
  {
   
    font-size: 23px;
    font-weight: 400;
  }

  #signup-form::placeholder
{
  
  font-size: 30px;

}


}

